span {
  font-family: sans-serif !important;
}
label {
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  color: rgba(59, 59, 59, 0.5);
}

.auth {
  background-image: url(https://app.365dropship.com/catalog_bg.3808158baad738767615.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__container {
  width: 333px;
  height: 532px;
  background-color: #fff;
  box-shadow: rgb(107 107 107) 0px 0px 12px;
  padding: 34px 40px;
  border-radius: 8px;
}

.auth__container-small {
  width: 333px;
  height: 400px;
  background-color: #fff;
  box-shadow: rgb(107 107 107) 0px 0px 12px;
  padding: 34px 40px;
  border-radius: 8px;
}

.auth__redirect {
  font-size: 15px;
  color: rgba(59, 59, 59, 0.64);
  margin-right: 8px;
}

.auth__redirect-login {
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  color: rgba(59, 59, 59, 0.72);
  font-size: 15px;
  font-weight: 600;
}

.auth__logo {
  position: absolute;
  left: 0;
  margin-top: 20px;
}

.auth__title {
  margin: 0px;
  font-family: Arial;
  font-weight: 400;
  font-size: 18px;
  color: #171717;
}

.auth__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.auth__inputs {
  width: 100%;
  margin-top: 39px;
}

.auth__terms {
  margin: 0px 0px 24px 0px;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  color: rgba(59, 59, 59, 0.5);
  margin-top: 5px;
}

.auth__forgot-password {
  margin: 0px 0px 0px 0px;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  color: rgba(59, 59, 59, 0.5);
}

#checkbox {
  margin-right: 10px;
}

.auth__bottom {
  display: flex;
  flex-direction: column;
}

.input-submit {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  margin-top: 25px;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  background-color: #61d5df;
  color: white;
}
