.cart {
    background-color: #f8f9fa;
    height: 100vh;
}

.cart__main {
    padding-left: 52px;
    height: 100%;
    box-sizing: border-box;
    overflow:hidden
}

.table__container {
    width: 100%;
    height: 95%;
    padding: 20px 50px;
    box-sizing: border-box;
    overflow: scroll;
}

.cart__header {
    color: #000;
    border-bottom: 1px solid rgba(187,198,206,.11);
    background: 0 0;
    width: 100%;
    height: 74px;
    min-width: 738px;
    padding: 23px 30px 22px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.cart__header span {
    text-align: right;
    color: #303856;
    font-size: 18px;
    font-weight: 600;
}

.table__header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 64px;
    background-color: #FFF;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
    color: #303856;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43; 
    letter-spacing: normal; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.table__header span {
 width: 180px;
}

.table__description {
    width: 30%;
    min-width: 30%;
    text-align: left;
    margin-left: 40px;
}

.table__main {
    width: 100%;
    height: calc(100% - 100px);
    background-color: #fefefe;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-sizing: border-box;
}
.item__description {
    min-width: 30% !important;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 40px;
}

.item__description img {
    width: 80px;
    height: 80px;
}

.table__item {
    padding: 7px 0px 7px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table__item div {
    width: 180px;
}

.item__title {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #303856;
    margin-left: 50px;
    width: 370px;
}

.item-code {
    font-size: 14px;
    opacity: .6;
}

.item-name {
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.25;
    font-size: 16px;
}

.item__qty {
    display: flex;
    justify-content: center;
    align-items: center;
}
.qty {
    display: flex;
    width: 82px !important;
    height: 30px;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid rgba(95,102,115,.1);
    background-color: rgba(142,176,233,.05);
    box-sizing: border-box;
    justify-content: center;
}

.qty button {
    width: 20px;
    height: 18px;
    border: none;
    background: 0 0;
    outline: 0;
    cursor: pointer;
    color: #b2a6c6;
    text-align: center;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.qty button:hover {
    background-color: rgba(142,176,233,.15);
}

.qty input {
    width: 36px;
    border: none;
    font-size: 14px;
    color: #323030;
    background: 0 0;
    text-align: center;
}

.table {
    width: 100%;
}

.item__delete img {
    cursor: pointer;

}