.catalog__img {
  height: 280px;
  width: 280px;
  object-fit: contain;
  vertical-align: middle;
}

.catalog__img-container {
  height: 290px;
  background-color: #fbfbfb;
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 0px 5px;
  outline: none;
}

.dropdowns__container {
  padding: 20px 13px 0 13px;
}

.filter__dropdown {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  height: 40px;
  overflow: hidden;
  margin-bottom: 15px;
  font-size: 14px;
  color: #29304b;
  font-weight: 500;
}

.Dropdown-control {
  border: none !important;
  height: 40px;
  outline: none;
}

.Dropdown-placeholder {
  text-align: start;
}

.catalog__main {
  background-color: #f8f9fa;
  width: calc(100% - 257px);
  height: 100vh;
}

.catalog__item {
  width: 368px;
  height: 470px;
  border: 2px solid rgba(112, 112, 112, 0.12);
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.catalog__item--highlighted {
  border: 2px solid #61d5df;
}

.catalog__products {
  box-sizing: border-box;
  margin: 0;

  height: calc(100% - 124px);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  /* align-items: stretch; */
  gap: 20px;
  padding: 20px;
  overflow: auto;
}

.item-checkbox-visible {
  display: block !important;
}

.header__product-add {
  width: 100px;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.catalog__header {
  height: 75px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0px 100px 0px 50px;
  box-sizing: border-box;
}

.seperate {
  width: 1px;
  height: 23px;
  opacity: 0.3;
  background: #979797;
  margin: 0 12px 0 16px;
}

.catalog__sort {
  height: 47px;
  padding: 0 50px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  background-color: #fff;
  border-bottom: 1px solid #dbe0f3;
  color: #dbe0f3;
}
.catalog__sort-select {
  border: none;
  outline: none;
}

.catalog__filters {
  /* box-sizing: border-box; */
  width: 255px;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: flex-start;
  background-color: #ecedf5;
}

.catalog {
  display: flex;
  overflow: hidden;
}
.header-btn {
  background-color: #61d5df;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

.select_all-btn {
  height: 32px;
}

.inventory__add-btn {
  width: 140px;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.catalog__wrapper {
  display: flex;
  padding-left: 52px;
  width: 100%;
}

.filter__niche {
  height: 52px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.73;
  color: #fff;
  padding-left: 20px;
  background-color: #5d6b9f;
}

.filter__category {
  height: 52px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.73;
  color: #fff;
  padding-left: 20px;
  background-color: #9da9d5;
}

.filter {
  display: flex;
  align-items: center;
}

.catalog__search {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 13px;
  outline: 0;
  color: #29304b;
  padding: 0 16px;
  background-color: #fff;
  border: 1px solid rgba(95, 102, 115, 0.1);
}

.catalog__right {
  display: flex;
  width: 60%;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
}

.catalog__input-holder {
  width: 480px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__left {
  display: flex;
  height: 32px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.header__left button {
  height: 100%;
  min-width: 80px;
}

.selected__amount {
  font-size: 12px;
  min-width: 130px;
}

.help-menu-btn {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  border: 2px solid #49547d;
  width: 24px;
  height: 24px;
  background-color: #fdfcfc;
  color: #49547d;
  border-radius: 50%;
  font-weight: bolder;
  outline: 0;
  cursor: pointer;
}

.help-menu-btn span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.help-menu {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search-btn-container {
  position: absolute;
  width: inherit;
  display: flex;
  justify-content: flex-end;
}
.search-button {
  /* position: absolute; */
  /* margin-left: 223px; */
  padding: 13px 8px 13px 8px;
  cursor: pointer;
}

.item-hover-container {
  margin: 10px 0px 0px 0px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  /* align-items: center; */
  /* margin: 15px 0px 0px 100px; */
  width: 100%;
  height: 100%;
}

.item-add-btn {
  text-decoration: none;
  width: 154px;
  height: 38px;
  border-radius: 4px;
  background-color: #61d5df;
  cursor: pointer;
  outline: 0;
  padding: 4px 8px;
  border: none;
  text-transform: capitalize;
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  display: none;
  margin-right: 10px;
}

.item-edit-btn {
  background-color: #61d5df;
  border: none;
  display: none;
  border-radius: 4px;
  height: 38px;
  cursor: pointer;
}

.item-delete-btn {
  display: none;
  background-color: #cf5151;
  border: none;
  border-radius: 4px;
  height: 38px;
  cursor: pointer;
}

.catalog__item:hover .item-add-btn {
  display: block;
}

.catalog__item:hover .item-edit-btn {
  display: block;
}

.catalog__item:hover .item-delete-btn {
  display: block;
}

.catalog__item:hover .item-checkbox {
  display: block;
}

.catalog__item:hover {
  border: 2px solid #61d5df;
}

.item__information p {
  text-align: start;
}

.visible {
  display: inline-block;
}

.hidden {
  display: none;
}

.clear-btn {
  margin-left: 15px;
  width: 140px !important;
  text-transform: uppercase;
  height: 32px;
  border-radius: 4px;
  border: none;
  background-color: #61d5df;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  padding: 0 14px;
  outline: 0;
  cursor: pointer;
}

.item-checkbox {
  position: absolute;
  display: inherit;
  margin: 20px 0px 0px 20px;
  width: 22px;
  height: 22px;
  display: none;
}

.item__name {
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #3b3b3b;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item__name-container {
  padding: 15px 20px 20px;
  height: 55px;
  overflow: hidden;
  box-sizing: border-box;
}

.item__supplier {
  padding-left: 20px;
  color: #707070;
  margin: 0;
}

.item__price {
  padding-left: 20px;
  font-size: 20px;
  color: #616161;
}
