@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Light.woff);
  }

@font-face {
    font-family: GilroyBold;
    src: url(../fonts/Gilroy-ExtraBold.woff);
}

a {
    text-decoration: none;
    color: inherit;
}
.main {
    background-image: url(https://mk0q365dropshipe482k.kinstacdn.com/wp-content/uploads/2020/06/hero-1.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.main__header {
    font-family: GilroyBold;
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
    color: white;
    width: 100%;
    height: 60px;
    background-color: rgba(36, 41, 62, 0.8);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__header-logo {
    width: 66px;
    height: 35px;
    margin-left: 38px;
    cursor: pointer;
}
.main__header-nav {
    display: flex;
    height: 100%;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.main__container {
    display: flex;
    justify-content: center;
    margin-top: 247px;
}

.main__content {
    width: 957px;
    height: 272px;
    background-color: rgba(36, 41, 62, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 50px 0px; */
}

.main__content h4 {
    font-weight: 700;
    line-height: 27px;
    font-size: 36px;
    margin: 0px 0px 14px 0px;
    color: white;

}

.main__content-logo {
    width: 143px;
    height: 73px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.nav__item {
    padding: 20px 13px;
    cursor: pointer;
}