.modal__container {
  width: 100%;
  height: 100%;
  background: rgba(0, 14, 70, 0.7) !important;
  position: fixed;
  display: none;
}

.modal__container--show {
  display: block;
}

.dialog {
  position: absolute;
  max-width: calc(100% - 20px) !important;
  margin: auto;
  width: 1163px;
  height: 691px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
  box-shadow: 0 35px 35px 0 rgb(6 16 88 / 16%);
  background-color: #fff;
  display: flex;
}

.dialog__left {
  width: 499px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
}

.dialog__right {
  width: 656px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  padding: 0px 40px 40px 40px;
}

.dialog__prices ul {
  text-decoration: none;
  list-style-type: none;
  width: 419px;
  height: 66px;
  margin: auto;
  padding: 9.3px 29px 8.3px 20px;
  border-radius: 7px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  border: 1.5px solid #fff;
  background: #fafafa;
  display: flex;
  align-items: center;
}

.dialog__prices li {
  width: calc(100% / 3);
  position: relative;
  font-family: Gilroy, serif;
  text-align: left;
  color: #616161;
  padding-left: 19px;
}

li strong {
  font-size: 22px;
  color: #616161;
  font-weight: 500;
}

li span {
  display: block;
  font-size: 14px;
  color: #707070;
  font-weight: 500;
  letter-spacing: 0.14px;
  opacity: 0.7;
  text-transform: uppercase;
}

.profit {
  color: #58c3cc !important;
}

.dialog__image {
  max-width: 335px;
  max-height: 335px;
  margin-top: 40px;
}

.dialog__image img {
  width: 100%;
  height: 100%;
}

.dialog__header {
  display: flex;
  justify-content: space-between;
}

.sku {
  line-height: 1.63;
  color: rgba(112, 112, 112, 0.7);
  font-size: 16px;
}

.dialog__header h3 {
  font-size: 16px;
  line-height: 1.63;
  color: #707070;
  margin: 0;
}

.title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.09;
  text-align: left;
  color: #3b3b3b;
  margin-top: 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
  padding-bottom: 4px;
}

.dialog__tabs {
  height: 45px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.25);
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
}

.dialog__title {
  padding-top: 15px;
}
.description__tab {
  color: #616161;
  border-bottom: 1px solid #3b3b3b;
  height: 45px;
}

.dialog__close-btn {
  /* position: fixed; */
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.dialog__description {
  text-align: start;
  margin-top: 20px;
  width: 500px;
}

.modal__filler {
  width: 100%;
  height: 100%;
}

.dialog__buttons {
  margin-top: 20px;
  display: flex;
}

.dialog__buttons button {
  width: 272px;
  height: 43px;
  border-radius: 4px;
  background-color: #61d5df;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  outline: none;
  border: none;
}

.dialog__description span {
  padding-right: 15px;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #707070;
  word-wrap: break-word;
}
