.navigation {
  position: fixed;
  height: 100vh;
  width: 52px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #dde3ee;
}

.nav__item-container {
  width: 100%;
  height: 42px;
  margin-bottom: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-item {
  width: 20px;
  height: 20px;
}

.navigation__logo {
  width: 40px;
  height: 21px;
  padding: 24px 0px 24px 0px;
}

.nav-profile {
  width: 34px;
  height: 34px;
}

.nav__logo-container {
  width: 100%;
  border-bottom: 1px solid #dde3ee;
  margin-bottom: 26px;
}
