.editor__modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 14, 70, 0.7) !important;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}

.editor__modal--visible {
  display: block;
}

.editor__dialog {
  position: absolute;
  max-width: calc(100% - 20px) !important;
  margin: auto;
  width: 1163px;
  height: 691px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
  box-shadow: 0 35px 35px 0 rgb(6 16 88 / 16%);
  background-color: #fff;
  display: flex;
}

.dialog__content {
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.dialog__content-left {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background-color: #fbfbfb;
  align-items: center;
}

.dialog__img-container {
  width: 335px;
  height: 335px;
}
.dialog__img-container img {
  width: 100%;
  height: 100%;
}

.dialog__content-right {
  width: 50%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  padding: 0px 40px 40px 40px;
  text-align: start;
  align-items: flex-end;
}

.dialog__content-field {
  width: 100%;
  /* margin-bottom: 20px; */
  height: 20%;
}

.dialog__content-field textarea {
  resize: none;
  /* height: 150px; */
  color: rgba(0, 0, 0, 0.87);
  border-color: #c4c4c4;
  margin-top: 15px;
  border-radius: 4px;
  font-size: 17px;
  font-family: Helvetica;
}
.dialog__content-field span {
}

.MuiOutlinedInput-input {
  /* padding: 10px; */
}

.description-field {
  display: flex;
  flex-direction: column;
  height: 190px;
}

/* .dialog__button-save {
  margin-top: 15px;
  width: 120px;
  height: 70px;
  background-color: #61d5df;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
} */
.errorMessage {
  width: 85%;
  color: red;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.dialog-close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 20px;
}
