.profile {
  background-color: #f8f9fa;
  height: 100vh;
}

.profile__main {
  padding-left: 52px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.profile__header {
  color: #000;
  border-bottom: 1px solid #dcdde3;
  background-color: #f9fbfe;
  width: 100%;
  height: 74px;
  min-width: 738px;
  padding: 23px 30px 22px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.profile-header__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  height: 18px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #303856;
}

.profile__account {
  width: 100%;
  height: 95%;
  padding: 20px 50px;
  box-sizing: border-box;
}

.account__header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  color: #303856;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.account__navigation {
  height: 100%;
}

.account__navigation ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.account__navigation li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 0px 15px;
  height: 100%;
  box-sizing: border-box;
}

.active-nav {
  border-bottom: 3px solid #61d5df;
  box-sizing: border-box;
}

.invoice-history {
  margin-left: 40px;
}

.account-deactivate-btn {
  width: 186px;
  height: 44px;
  border-radius: 4px;
  background: #fff1f1;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ff7b7b;
  border: none;
  cursor: pointer;
  outline: 0;
  margin-right: 50px;
  text-transform: uppercase;
}

.sign-out-btn {
  width: 132px;
  height: 40px;
  border-radius: 4px;
  background-color: #e6eefc;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: none;
  color: #4785ef;
  text-transform: uppercase;
  margin-right: 73px;
}

.account__main {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  background-color: #fefefe;
  display: flex;
  padding: 30px 40px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 1100px;
}

.main__btn-container button {
  border-width: 0;
  cursor: pointer;
  width: 162px;
  height: 40px;
  border-radius: 4px;
  background: #61d5df;
  font-size: 16px;
  color: #fff;
}

.main__wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.account__profile-cont {
  border-radius: 105px;
  overflow: hidden;
  width: 160px;
  height: 160px;
  border: 6px solid #61d5df;
}

.account__profile-wrapper button {
  width: 162px;
  height: 40px;
  border-radius: 4px;
  background-color: #61d5df;
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.78;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin: 20px auto 0;
}

.account__profile-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  padding: 5px;
  border-radius: 105px;
  box-sizing: border-box;
}

.account__profile-wrapper {
}

.account__main-left {
  display: flex;
  flex-direction: column;
}

.account__section-title {
  text-align: start;
  height: 16px;
  font-size: 16px;
  color: #303856;
  text-transform: uppercase;
  font-weight: 600;
}

.field-input {
  display: flex;
  flex-direction: column;
  padding: 0px 50px 0px 50px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.field-input span {
  text-align: start !important;
  margin-bottom: 4px;
  width: 100%;
  font-family: "Source Sans Pro regular";
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #29304b;
}

.field-input input {
  width: 420px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #dbe0f3;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #29304b;
  padding-left: 16px;
  box-sizing: border-box;
}

.account__password-wrapper {
}

.account__details-wrapper {
}

.account__main-right {
  display: flex;
  flex-direction: column;
}

.account__section-title {
  text-align: start;
  height: 16px;
  font-size: 16px;
  color: #303856;
  text-transform: uppercase;
  font-weight: 600;
}

.account__base-size {
  flex: 1;
  max-width: 520px;
  height: 268px;
  border-radius: 4px;
  border: 1px solid #f9fbfe;
  background-color: #f9fbfe;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
